@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700&display=swap");
* {
  font-family: "Manrope", sans-serif;
}

.row {
  margin: 0 !important;
}

.section1 {
  padding-top: 0.5%;
  padding-bottom: 5%;
  background: #040C18;
}
.section1 .sub-section {
  margin-top: 60px;
}
.section1 nav .signUp {
  background: #FF4820;
  border-radius: 5px;
  border: none;
  padding: 14px 38px;
  color: #fff;
  font-size: 14px;
}
.section1 nav .signUp:hover {
  background: #fe6442;
}
.section1 nav .signIn, .section1 nav .nav-link {
  font-size: 14px;
}
.section1 h1 {
  background: linear-gradient(90deg, #AE67FA, #F49867);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 58px;
  font-weight: 800;
  line-height: 65px;
  visibility: hidden;
  animation: HeroText 1s ease-out 0.2s forwards;
}
.section1 p {
  color: #81AFDD;
  font-size: 20px;
  font-weight: 400;
  visibility: hidden;
  animation: PText 1s ease-out 0.2s forwards;
}
.section1 .form {
  display: flex;
}
.section1 .form input[type=email] {
  border-radius: 5px 0px 0px 5px;
  background: #052D56;
  width: 70%;
  padding: 18px 0 18px 28px;
  outline: none;
  border: none;
  caret-color: white;
  color: #fff;
}
.section1 .form ::placeholder {
  color: #3D6184;
  font-size: 14px;
  font-weight: 400;
}
.section1 .form button {
  width: 30%;
  color: #fff;
  background: #FF4820;
  border: none;
  border-radius: 0 5px 5px 0;
  font-weight: 600;
  transition: all 0.2s linear;
}
.section1 .form button:hover {
  background: #fe6442;
}
.section1 .imgAi {
  margin-top: -10%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.section1 .imgAi .AIImg {
  width: 558px;
  height: 600px;
  animation: aiImg 1.5s ease-out;
}
.section1 .reviews {
  display: flex;
}
.section1 .reviews p {
  font-size: small;
  line-height: 40px;
}
.section1 .reviews .people {
  margin-left: -17px;
}

@keyframes aiImg {
  0% {
    transform: scale(0.5);
    filter: blur(3px);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes HeroText {
  from {
    visibility: hidden;
    transform: translateY(-10%);
    opacity: 0.1;
  }
  to {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes PText {
  from {
    visibility: hidden;
    transform: translateY(10%);
    opacity: 0.01;
  }
  to {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
  }
}
.logosection {
  margin-top: -1%;
  background: #040C18;
  padding-bottom: 70px;
}
.logosection .logosect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100px;
}
.logosection .logosect img {
  width: 100px;
  margin: 0 5% 3% 5%;
}

.section2 {
  margin-top: -1%;
  background: #040C18;
}
.section2 .sectiontwo {
  padding: 50px;
  background: linear-gradient(to bottom right, #042d58 20%, #0F4279 90%, #1B78DE);
}
.section2 .firstside p {
  color: #FFF;
  font-size: 20px;
  font-weight: 800;
  line-height: 45px;
}
.section2 .firstsideText p {
  color: #81AFDD;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}
.section2 .secondside1 h3 {
  background: linear-gradient(90deg, #AE67FA, #F49867);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  font-weight: 800;
  line-height: 45px;
}
.section2 .secondside2 h5 {
  color: #FF8A71;
  font-size: 12px;
  font-weight: 500;
}
.section2 .thirdside p {
  color: #fff;
}
.section2 .thirdside .text3 {
  color: #81AFDD;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}
.section2 .row1, .section2 .row2 {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 578px) {
  .section1 .reviews {
    flex-direction: column;
  }
  .section1 .reviews .pple {
    font-size: x-small;
    letter-spacing: 0;
  }
  .section1 .reviews .reviewText {
    margin-top: 8px;
  }
}
@media only screen and (max-width: 992px) {
  .hero-section {
    flex-direction: column-reverse;
  }
  .section1 .sub-section {
    text-align: center;
  }
  .section1 nav .nav-link {
    margin-left: 0 !important;
  }
  .section1 h1 {
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 8% !important;
  }
  .section1 h1 br {
    display: none;
  }
  .section1 p {
    font-size: 16px;
    margin-bottom: 8% !important;
  }
  .section1 .form {
    flex-direction: column;
  }
  .section1 .form input[type=email] {
    width: 100%;
    border-radius: 5px 5px 0 0;
    padding: 18px;
  }
  .section1 .form ::placeholder {
    text-align: center;
  }
  .section1 .form button {
    width: 100%;
    padding: 18px 0 18px 0;
    border-radius: 0 0 5px 5px;
  }
  .section1 .imgAi {
    width: 100%;
    margin-top: 15px;
  }
  .section1 .imgAi .AIImg {
    width: 100%;
    height: auto;
  }
  .section1 .reviews p {
    line-height: 0;
    margin-top: 15px;
  }
  .logosection .logosect {
    padding: 70px 0;
  }
  .section2 .sectiontwo {
    padding: 10px;
  }
  .section2 .firstside p {
    line-height: 30px;
  }
  .section2 .firstsideText p {
    line-height: 25px;
  }
  .section2 .row1, .section2 .row2, .section2 .row3 {
    padding: 20px 0;
  }
  .section2 .secondside1 h3 {
    font-size: 32px;
    line-height: 42px;
  }
  .section2 .secondside1 h3 br {
    display: none;
  }
  .section2 .secondside2 h5 {
    margin-top: 10px;
    font-size: 16px;
  }
  .section2 .thirdside .text3 {
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px !important;
  }
  .section2 .thirdside p {
    line-height: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
