@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700&display=swap");
* {
  font-family: "Manrope", sans-serif;
}

.row {
  margin: 0 !important;
}

.section1 {
  padding-top: 0.5%;
  padding-bottom: 5%;
  background: #040C18;
}
.section1 .sub-section {
  margin-top: 60px;
}
.section1 nav .signUp {
  background: #FF4820;
  border-radius: 5px;
  border: none;
  padding: 14px 38px;
  color: #fff;
  font-size: 14px;
}
.section1 nav .signUp:hover {
  background: #fe6442;
}
.section1 nav .signIn, .section1 nav .nav-link {
  font-size: 14px;
}
.section1 h1 {
  background: linear-gradient(90deg, #AE67FA, #F49867);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: 800;
  line-height: 65px;
  visibility: hidden;
  animation: HeroText 1s ease-out 0.2s forwards;
}
.section1 p {
  color: #81AFDD;
  font-size: 20px;
  font-weight: 400;
  visibility: hidden;
  animation: PText 1s ease-out 0.2s forwards;
}
.section1 .form {
  display: flex;
}
.section1 .form input[type=email] {
  border-radius: 5px 0px 0px 5px;
  background: #052D56;
  width: 70%;
  padding: 18px 0 18px 28px;
  outline: none;
  border: none;
  caret-color: white;
  color: #fff;
}
.section1 .form ::placeholder {
  color: #3D6184;
  font-size: 14px;
  font-weight: 400;
}
.section1 .form button {
  width: 30%;
  color: #fff;
  background: #FF4820;
  border: none;
  border-radius: 0 5px 5px 0;
  font-weight: 600;
  transition: all 0.2s linear;
}
.section1 .form button:hover {
  background: #fe6442;
}
.section1 .imgAi {
  margin-top: -10%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.section1 .imgAi .AIImg {
  width: 558px;
  height: 600px;
  animation: aiImg 1.5s ease-out;
}
.section1 .reviews {
  display: flex;
}
.section1 .reviews p {
  font-size: small;
  line-height: 40px;
}
.section1 .reviews .people {
  margin-left: -17px;
}

@keyframes aiImg {
  0% {
    transform: scale(0.5);
    filter: blur(3px);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes HeroText {
  from {
    visibility: hidden;
    transform: translateY(-10%);
    opacity: 0.1;
  }
  to {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes PText {
  from {
    visibility: hidden;
    transform: translateY(10%);
    opacity: 0.01;
  }
  to {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
  }
}
.logosection {
  margin-top: -1%;
  background: #040C18;
  padding-bottom: 70px;
}
.logosection .logosect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100px;
}
.logosection .logosect img {
  width: 100px;
  margin: 0 5% 3% 5%;
}

.section2 {
  margin-top: -3%;
  background: #040C18;
}
.section2 .sectiontwo {
  padding: 50px;
  background: linear-gradient(to bottom right, #042d58 20%, #0F4279 90%, #1B78DE);
}
.section2 .firstside p {
  color: #FFF;
  font-size: 20px;
  font-weight: 800;
  line-height: 45px;
}
.section2 .firstsideText p {
  color: #81AFDD;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}
.section2 .secondside1 h3 {
  background: linear-gradient(90deg, #AE67FA, #F49867);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  font-weight: 800;
  line-height: 45px;
}
.section2 .secondside2 h5 {
  color: #FF8A71;
  font-size: 12px;
  font-weight: 500;
}
.section2 .thirdside p {
  color: #fff;
}
.section2 .thirdside .text3 {
  color: #81AFDD;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}
.section2 .row1, .section2 .row2 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section3 {
  background: #040C18;
  margin-top: -3%;
}
.section3 .s-3 {
  padding: 80px 0;
}
.section3 .section3-1 h2 {
  background: linear-gradient(90deg, #AE67FA, #F49867);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  line-height: 45px;
  font-size: 34px;
}
.section3 .section3-1 h5 {
  color: #FF8A71;
  font-size: small;
  line-height: 30px;
  font-weight: 500;
}
.section3 .section3-2 p {
  line-height: 20px;
  color: #FFF;
  font-size: medium;
}
.section3 .section3-2 .class1 {
  margin-bottom: 35px;
}
.section3 .section3-3 h5 {
  color: #81AFDD;
  font-size: medium;
  margin-bottom: 30px;
  line-height: 24px;
}

.section4 {
  background: #040C18;
  margin-top: -3%;
}
.section4 .blueText {
  color: #71E5FF;
  font-size: small;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 3%;
}
.section4 .orange2Text {
  color: #FF8A71;
  font-size: small;
  line-height: 30px;
  font-weight: 500;
  margin-top: 3%;
}
.section4 .sectfour {
  display: flex;
  align-items: end;
}
.section4 .sectfour h3 {
  background: linear-gradient(90deg, #AE67FA, #F49867);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 44px;
  font-weight: 800;
  line-height: 55px;
  margin-bottom: 3%;
}
.section4 .sectfour p {
  color: #81AFDD;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

.section5 {
  background: #040C18;
  margin-top: -3%;
}
.section5 .boxgradient {
  height: 150px;
  background: linear-gradient(90deg, #AE67FA, #F49867);
  border-radius: 11px;
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.section5 .boxgradient .boxStarted button {
  border-radius: 40px;
  background: #000;
  color: #fff;
  padding: 12px 45px;
  border: none;
  font-weight: 700;
}
.section5 .boxgradient h6 {
  font-size: x-small;
  color: #0E0E0E;
  font-weight: 800;
  line-height: 15px;
}
.section5 .boxgradient p {
  font-size: 18px;
  font-weight: bolder;
  line-height: 35px;
}

.section6 {
  background: #040C18;
  padding: 70px 0;
  margin-top: -3%;
}
.section6 h3 {
  background: linear-gradient(90deg, #AE67FA, #F49867);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 52px;
  font-weight: 800;
  line-height: 75px;
  width: 60%;
}
.section6 .sect6 {
  margin-top: 50px;
}
.section6 .imgsix {
  width: 100%;
  height: 600px;
}
.section6 .p11 {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 100%;
}
.section6 .p12 {
  height: 140px;
  width: 100%;
}
.section6 .img6 {
  width: 100%;
  height: 275px;
}
.section6 .sixCont1 {
  position: relative;
  overflow: hidden;
}
.section6 .sixCont1:hover .p1 {
  transform: translateY(0);
  opacity: 1;
}
.section6 .p1 {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #042C54;
  padding: 15px 25px;
  transition: all 1s ease;
  opacity: 0.5;
  transform: translateY(100%);
}
.section6 h6 {
  font-size: x-small;
}
.section6 .read {
  margin-top: 100px;
}
.section6 p {
  font-weight: 800;
}
.section6 .para {
  font-size: 22px;
}

.section7 {
  background: #031B34;
  text-align: center;
  padding: 100px 0;
  margin-top: -3%;
}
.section7 .sect7 {
  margin: 0 auto;
  padding: 70px 0;
  width: 60%;
}
.section7 .sect7 .bigtext {
  background: linear-gradient(90deg, #AE67FA, #F49867);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 52px;
  font-weight: 900;
  line-height: 75px;
}
.section7 .sect7 h5 {
  border: 1px solid white;
  font-size: small;
  padding: 20px 0;
  color: #fff;
  width: 50%;
  margin: 0 auto;
}

.footer {
  background: #031B34;
  margin-top: -3%;
}
.footer p {
  font-size: small;
}
.footer h5 {
  font-size: small;
  font-weight: 800;
}
.footer .copyright {
  padding: 20px 0;
  font-size: 14px;
  font-weight: 0;
  letter-spacing: 6px;
}

@media only screen and (max-width: 578px) {
  .section1 .reviews {
    flex-direction: column;
  }
  .section1 .reviews .pple {
    font-size: x-small;
    letter-spacing: 0;
  }
  .section1 .reviews .reviewText {
    margin-top: 8px;
  }
  .section4img {
    width: 100%;
  }
  .section3-1 h2 {
    width: 100%;
    font-size: 12px;
  }
  .section3 .section3-1 h5 {
    margin-bottom: 35px;
  }
  .section4 .sectfour h3 {
    font-size: 26px;
    line-height: 40px;
  }
  .section4 .sect4-text {
    padding-top: 50px;
  }
  .section5 .boxgradient {
    flex-direction: column;
    justify-content: space-around;
    padding: 5px 0;
  }
  .section5 .boxgradient p {
    line-height: 22px;
    font-size: 16px;
    text-align: center;
  }
  .section5 .boxgradient h6 {
    line-height: 15px;
    text-align: center;
  }
  .section6 h3 {
    width: 100%;
    line-height: 50px;
    text-align: center;
    font-size: 32px;
  }
  .section7 {
    padding: 50px 0;
  }
  .section7 .sect7 .bigtext {
    width: 100%;
    font-size: 32px;
    line-height: 50px;
  }
  .section7 .sect7 h5 {
    width: 70%;
  }
}
@media only screen and (max-width: 992px) {
  .hero-section {
    flex-direction: column-reverse;
  }
  .section1 .sub-section {
    text-align: center;
  }
  .section1 nav .nav-link {
    margin-left: 0 !important;
  }
  .section1 h1 {
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 18% !important;
  }
  .section1 h1 br {
    display: none;
  }
  .section1 p {
    font-size: 16px;
    margin-bottom: 18% !important;
  }
  .section1 .form {
    flex-direction: column;
  }
  .section1 .form input[type=email] {
    width: 100%;
    border-radius: 5px 5px 0 0;
    padding: 18px;
  }
  .section1 .form ::placeholder {
    text-align: center;
  }
  .section1 .form button {
    width: 100%;
    padding: 18px 0 18px 0;
    border-radius: 0 0 5px 5px;
  }
  .section1 .imgAi {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .section1 .imgAi .AIImg {
    width: 100%;
    height: auto;
  }
  .section1 .reviews p {
    line-height: 0;
    margin-top: 15px;
  }
  .logosection .logosect {
    padding: 50px 0 70px 0;
  }
  .section2 .sectiontwo {
    padding: 10px;
  }
  .section2 .firstside p {
    line-height: 30px;
  }
  .section2 .firstsideText p {
    line-height: 25px;
  }
  .section2 .row1, .section2 .row2, .section2 .row3 {
    padding: 20px 0;
  }
  .section2 .secondside1 h3 {
    font-size: 32px;
    line-height: 42px;
  }
  .section2 .secondside1 h3 br {
    display: none;
  }
  .section2 .secondside2 h5 {
    margin-top: 10px;
    font-size: 16px;
  }
  .section2 .thirdside .text3 {
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px !important;
  }
  .section2 .thirdside p {
    line-height: 20px;
  }
  .section4img {
    width: 100%;
  }
  .section4 .sect4-text {
    padding-top: 50px;
  }
  .section6 h3 {
    width: 100%;
    line-height: 65px;
    text-align: center;
    font-size: 55px;
    padding-bottom: 20px;
  }
  .footer .touch {
    margin-top: 30px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1400px) {
  .section1 .sub-section {
    padding: 2% 0;
  }
  .section1 .nav-link {
    padding: 0;
    margin-left: 10px !important;
  }
  .section1 h1 {
    font-size: 42px;
    line-height: 50px;
  }
  .section1 h1 br {
    display: none;
  }
  .section1 .reviews .people {
    display: none;
  }
  .section1 .reviews p {
    line-height: 30px;
  }
  .section1 .imgAi .AIImg {
    width: 458px;
  }
  .section3 {
    padding: 2% 0;
  }
  .section4 {
    padding: 2% 0;
  }
  .section4 .sect4-text {
    margin-left: 35px;
  }
  .section4 .sectfour h3 {
    font-size: 32px;
    line-height: 40px;
  }
  .sixCont1 {
    padding: 3% 0;
  }
}
@media screen and (min-width: 1600px) {
  .section1 .imgAi {
    float: right;
  }
  .section1 .sub-section {
    padding: 3% 0;
  }
  .section3 {
    padding-top: 4%;
  }
  .section4 {
    padding: 3.5% 0;
  }
  .section5 {
    padding: 2% 0;
  }
  .section6 {
    padding-bottom: 5%;
  }
}

/*# sourceMappingURL=style.css.map */
